.command {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-list {
  display: flex;
  text-align: center;
}
.command-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-item:not(:last-child) {
  margin-right: 30px;
}

.command-item-titel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--name-text-color);
}
.command-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
  margin-bottom: 16px;
}
.item-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-social-list {
  display: flex;
  justify-content: center;
}
.command-social-item {
  width: 44px;
  height: 44px;
}
.command-socia-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.command-social-item + .command-social-item {
  margin-left: 10px;
}
.command-socia-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-socia-link:hover,
.command-socia-link:focus {
  background-color: var(--accent-color);
}
.command-socia-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-socia-link:hover .command-socia-icon,
.command-socia-link:focus .command-socia-icon {
  fill: var(--main-button-color);
}
.command-socia-icon {
  fill: #afb1b8;
}
