.price-list {
  display: flex;
  flex-wrap: wrap;
}
.price-list-titel {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.price-titils {
  padding: 20px 24px 20px 24px;
  border: 1px solid #ececec;
}
.price-titil {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--price-titile-color);
}
.price-after-titil {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--price-after-titile-color);
}
.filtr-product {
  text-decoration: none;
  display: block;
}
.price-list-titel {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.overlay-card {
  position: relative;
  overflow: hidden;
}
.titil-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .price-list-titel:hover & {
    transform: translateY(0);
  }
}
