.bakdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.form-fild {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-fild input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: none;
}
.input-icon {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
  border: 1px solid var(--accent-color);
}
.input-icon:focus ~ .form-close-icon {
  fill: var(--accent-color);
}
.input-name {
  position: relative;
}
.form-close-icon {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form-titel {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

textarea {
  margin-bottom: 20px;
  resize: none;
  outline: none;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form:focus {
  border: 1px solid var(--accent-color);
}
.form-fild textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement {
  display: flex;
  align-items: center;
  padding-left: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.link-agreement {
  color: var(--accent-color);
}

.button-submit {
  display: block;

  margin: auto;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-style: none;
}
.icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-castom:checked + .agreement .icon {
  border: none;
  background-color: var(--accent-color);
}
.checkbox-castom:focus + .agreement .icon {
  border: 2px solid var(--accent-color);
}
.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-style: none;
}
.send {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
}
.send-titel {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  padding-bottom: 20px;
}
.send-blok {
  display: flex;
}
.input-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.send-container {
  padding-left: 93px;
}
.input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
